@media (min-width: 992px) {
  body {
    overflow-x: hidden; } }

@media (max-width: 991px) {
  html {
    font-size: 10px; } }

.grey {
  color: rgba(24, 24, 28, 0.5); }

.light-grey {
  color: #89898C; }

.black {
  color: #18181C; }

.black-70 {
  color: rgba(24, 24, 28, 0.7); }

.black-60 {
  color: rgba(24, 24, 28, 0.6); }

.light-black {
  color: #212121; }

.white {
  color: #fff; }

.white-70 {
  color: rgba(255, 255, 255, 0.7); }

.white-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; }

.primary {
  color: #936DFF; }

.light-primary {
  color: #9a84ff; }

body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/medium/AvenirMedium09.eot");
  src: url("../fonts/Avenir/medium/AvenirMedium09.eot") format("embedded-opentype"), url("../fonts/Avenir/medium/AvenirMedium09.woff2") format("woff2"), url("../fonts/Avenir/medium/AvenirMedium09.woff") format("woff"), url("../fonts/Avenir/medium/AvenirMedium09.ttf") format("truetype"), url("../fonts/Avenir/medium/AvenirMedium09.svg#AvenirMedium09") format("svg"); }

@font-face {
  font-family: AvenirHeavy;
  src: url("../fonts/Avenir/heavy/AvenirHeavy05.eot");
  src: url("../fonts/Avenir/heavy/AvenirHeavy05.eot") format("embedded-opentype"), url("../fonts/Avenir/heavy/AvenirHeavy05.woff2") format("woff2"), url("../fonts/Avenir/heavy/AvenirHeavy05.woff") format("woff"), url("../fonts/Avenir/heavy/AvenirHeavy05.ttf") format("truetype"), url("../fonts/Avenir/heavy/AvenirHeavy05.svg#AvenirHeavy05") format("svg"); }

@font-face {
  font-family: AvenirBlack;
  src: url("../fonts/Avenir/black/AvenirBlack03.eot");
  src: url("../fonts/Avenir/black/AvenirBlack03@font-fa.eot") format("embedded-opentype"), url("../fonts/Avenir/black/AvenirBlack03.woff2") format("woff2"), url("../fonts/Avenir/black/AvenirBlack03.woff") format("woff"), url("../fonts/Avenir/black/AvenirBlack03.ttf") format("truetype"), url("../fonts/Avenir/black/AvenirBlack03.svg#AvenirBlack03") format("svg"); }

.heading-large {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 1.49;
  font-family: AvenirBlack,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.3; }
  @media (max-width: 991px) {
    .heading-large {
      font-size: 2.8rem; } }

.paragraph-heavy {
  font-family: AvenirHeavy;
  line-height: 2.96rem;
  font-size: 1.6rem; }
  @media (min-width: 992px) {
    .paragraph-heavy {
      line-height: 4.96rem;
      font-size: 2.3rem; } }

.heading-main {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.49;
  font-family: AvenirHeavy; }
  @media (max-width: 991px) {
    .heading-main {
      font-size: 3rem; } }

.heading-secondary {
  font-family: AvenirHeavy;
  font-size: 3.2rem;
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 1.49; }
  @media (max-width: 991px) {
    .heading-secondary {
      font-size: 3.4rem; } }
  @media (max-width: 991px) {
    .heading-secondary {
      font-size: 2.2rem; } }

.heading-break {
  font-family: AvenirBlack;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.49;
  letter-spacing: 7px;
  letter-spacing: 0.5rem;
  text-transform: uppercase; }
  @media (max-width: 991px) {
    .heading-break {
      font-size: 1.6rem; } }

.heading-small {
  font-family: AvenirHeavy;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.49; }
  @media (max-width: 991px) {
    .heading-small {
      font-size: 1.6rem; } }

.paragraph-main {
  font-family: AvenirHeavy;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.96;
  font-size: 2.2rem; }
  @media (max-width: 991px) {
    .paragraph-main {
      font-size: 1.6rem; } }

.paragraph-main-light {
  font-family: AvenirHeavy;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.96; }
  @media (max-width: 991px) {
    .paragraph-main-light {
      font-size: 1.2rem; } }

.paragraph-secondary {
  font-family: AvenirHeavy;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.96; }
  @media (max-width: 991px) {
    .paragraph-secondary {
      font-size: 1.2rem; } }

.paragraph-small {
  font-family: Avenir;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.96; }
  @media (max-width: 991px) {
    .paragraph-small {
      font-size: 1.6rem; } }

.heading-small {
  font-family: AvenirHeavy;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.96; }
  @media (max-width: 991px) {
    .heading-small {
      font-size: 1.6rem; } }

ul.paragraph-secondary-ul {
  padding-left: 3rem; }
  @media (max-width: 991px) {
    ul.paragraph-secondary-ul {
      padding-left: 1rem; } }
  ul.paragraph-secondary-ul li {
    font-size: 2rem;
    font-family: AvenirHeavy;
    line-height: 1.96; }
    @media (max-width: 991px) {
      ul.paragraph-secondary-ul li {
        font-size: 1.4rem;
        width: 90%; } }
    @media (min-width: 991px) {
      ul.paragraph-secondary-ul li {
        width: 80%;
        margin-bottom: 3%; } }

@media (min-width: 992px) {
  .paragraph-80 {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 992px) {
  .paragraph-80-left {
    width: 80%; } }

@media (min-width: 992px) {
  .paragraph-50 {
    width: 50%;
    margin: 0 auto; } }

.paragraph-light {
  font-weight: 400; }

.text-italic {
  font-style: italic; }

.filler-height {
  height: 70rem; }
  @media (max-width: 991px) {
    .filler-height {
      height: 10rem; } }

.filler-height-60 {
  height: 60rem; }
  @media (max-width: 991px) {
    .filler-height-60 {
      height: 100rem; } }

.imgbox {
  margin-top: -80rem; }
  .imgbox .img {
    height: 700px;
    height: 70rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .imgbox .button-box {
    margin-top: -7rem; }

.imgbox-right {
  margin-left: -200px; }

.imgbox-right img {
  height: 400px; }

.bleeding-right img {
  margin-left: 200px; }

.bleeding-left img {
  margin-left: -200px; }

.bg-black {
  background: #18181C; }

.bg-light-black {
  background: #212121; }

.bg-grey {
  background: rgba(24, 24, 28, 0.5); }

.bg-black-50 {
  background: rgba(24, 24, 28, 0.9); }

.bg-grade {
  background: linear-gradient(240deg, #8b71ff, #f3f8ff); }

.diagonal-box {
  background: #18181C;
  -ms-transform: skew(0deg, -2deg);
      transform: skew(0deg, -2deg);
  overflow: hidden;
  height: 100rem; }
  @media (max-width: 991px) {
    .diagonal-box {
      height: 80rem; } }

.diagonal-box-fix {
  margin-top: -80rem; }
  @media (max-width: 991px) {
    .diagonal-box-fix {
      margin-top: -70rem; } }

.margin-bottom.hero {
  margin-bottom: 120px; }

.section-padding {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section-padding.hero {
    padding-top: 16rem;
    padding-bottom: 2rem; }
    @media (max-width: 991px) {
      .section-padding.hero {
        padding-top: 8rem; } }

.team-box .team-member {
  margin-bottom: 30px;
  margin-top: 30px; }
  .team-box .team-member img {
    margin-left: -18px; }

.img-boxes-partners {
  margin-bottom: 60px; }
  .img-boxes-partners img {
    height: 80px;
    display: inline-block;
    margin-right: 15%; }

.media-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 61rem; }
  @media (min-width: 992px) {
    .media-container.right {
      margin-left: -35rem;
      padding-right: 75rem; } }
  @media (min-width: 992px) {
    .media-container.left {
      margin-right: 0;
      padding-left: 75rem; } }
  @media (max-width: 991px) {
    .media-container {
      height: 32rem; } }

@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 17px;
    text-align: center; } }

.navbar {
  transition: 200ms all ease-in; }

.navbar-brand img {
  transition: all 0.3s ease-in-out; }
  @media (max-width: 991px) {
    .navbar-brand img {
      margin-top: 10px;
      height: 30px;
      margin-left: 20px; } }

.navbar-up .navbar-brand img {
  transition: all 0.3s ease-in-out; }

.navbar-toggle .icon-bar {
  background: #936bf7; }

.navbar-brand {
  float: left;
  height: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px; }

.nav > li > a {
  color: rgba(24, 24, 28, 0.5);
  transition: 100ms color ease-in;
  font-family: AvenirHeavy;
  font-size: 2rem; }
  .nav > li > a:hover {
    background: none;
    color: #936DFF; }
  .nav > li > a:focus {
    background: none;
    color: rgba(24, 24, 28, 0.5); }

.navbar-down {
  background: white;
  box-shadow: -1px 2px 4px 0 rgba(98, 98, 98, 0.1);
  box-shadow: -1px 2px 5px 0 rgba(98, 98, 98, 0.3);
  padding: 20px 0; }
  @media (max-width: 991px) {
    .navbar-down {
      padding: 10px 0px; } }

.navbar-up {
  padding: 40px 0;
  background: #fff; }
  @media (max-width: 991px) {
    .navbar-up {
      padding: 10px 0px; } }

@media (max-width: 991px) {
  .dropdown-menu {
    text-align: center; } }

@media (min-width: 992px) {
  .nav > li.dropdown {
    border-right: 1px solid #8b8b8e; } }

.btn {
  margin-bottom: 4%;
  font-size: 2.6rem;
  font-weight: 400;
  font-family: AvenirHeavy;
  border-radius: 4rem;
  padding: 10px;
  color: #fff;
  padding: 12px 0;
  transition: 250ms all ease-in; }
  .btn i {
    margin-right: 3%; }
  .btn:focus {
    outline: 0 solid transparent; }
  .btn.btn-center {
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 991px) {
    .btn {
      min-width: 142px;
      font-size: 1.6rem; } }
  .btn.btn-light {
    background: #936DFF;
    display: block;
    max-width: 450px;
    max-width: 430px;
    padding: 1.5rem 0; }
    .btn.btn-light:hover {
      color: #fafafa;
      background: #6d3aff; }
  @media (max-width: 991px) {
    .btn.btn-center-mob {
      margin: 0 auto;
      margin-top: 3rem; } }
  .btn.btn-contact {
    width: 100%;
    background: #6d3aff;
    display: block;
    max-width: 450px; }
    .btn.btn-contact:hover {
      color: #fafafa;
      background: #4807ff; }
  .btn.btn-dark {
    background: #18181C;
    display: block;
    max-width: 450px;
    display: block;
    max-width: 430px;
    padding: 1.5rem 0; }
    .btn.btn-dark:hover {
      color: #fafafa;
      background: #303037; }
  .btn.btn-shadow {
    box-shadow: 6px 10px 20px 0 rgba(24, 24, 28, 0.1); }

.timerbox {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
  min-height: 500px; }

.skewed-bg {
  -ms-transform: skew(0deg, 2deg);
      transform: skew(0deg, 2deg);
  padding: 20rem 0 30rem;
  margin-top: -5.6rem; }
  .skewed-bg.grade {
    background: linear-gradient(240deg, #8b71ff, #f3f8ff); }
  .skewed-bg.black {
    background: #18181C; }
  .skewed-bg.light-grey {
    background: #89898C; }
  .skewed-bg.grey {
    background: rgba(24, 24, 28, 0.5); }
  .skewed-bg.white {
    background: #fff; }
  .skewed-bg.inverse {
    -ms-transform: skew(0deg, -6deg);
        transform: skew(0deg, -6deg); }
    .skewed-bg.inverse .container {
      -ms-transform: skew(0deg, 6deg);
          transform: skew(0deg, 6deg); }
  @media (max-width: 991px) {
    .skewed-bg {
      padding: 10rem 0 15rem; } }
  @media (max-width: 991px) {
    .skewed-bg.mobile-fix-padding {
      padding: 20rem 0 15rem; } }
  @media (max-width: 991px) {
    .skewed-bg.mobile-fix-paddding-bottom {
      padding: 10rem 0 30rem; } }
  .skewed-bg .container {
    -ms-transform: skew(0deg, -2deg);
        transform: skew(0deg, -2deg); }

.padding-fixture-100 {
  padding-top: 15rem;
  padding-bottom: 10rem; }

.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000; }

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 0 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
  width: 6px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 60%, #ffffff 40%); }

.tldate {
  display: block;
  font-family: AvenirHeavy;
  width: 110px;
  font-size: 1.8rem;
  background: #fff;
  text-transform: uppercase;
  color: #18181c;
  margin: 0 auto;
  padding: 8px 0;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15); }

.timeline li {
  margin-bottom: 25px;
  position: relative;
  margin-bottom: 80px;
  position: relative;
  margin-top: 80px;
  text-align: right; }
  .timeline li.timeline-inverted {
    text-align: left; }

.timeline li:after,
.timeline li:before {
  content: " ";
  display: table; }

.timeline li:after {
  clear: both; }

.timeline li:after,
.timeline li:before {
  content: " ";
  display: table; }

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25); }

.timeline-current .timeline-panel {
  background: #936DFF !important;
  border: 1px solid #936DFF !important; }

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-right: 0 solid rgba(0, 0, 0, 0.15);
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

@media (min-width: 700px) {
  .timeline-current .timeline-panel:after {
    border-left: 14px solid #936DFF !important;
    border-right: 0 solid #936DFF !important; } }

@media (max-width: 699px) {
  .timeline-current .timeline-panel:after {
    border-top: 14px solid transparent;
    border-right: 14px solid #936DFF !important;
    border-left: 0 solid #936DFF !important;
    border-bottom: 14px solid transparent; } }

.timeline li .timeline-panel.noarrow:after,
.timeline li .timeline-panel.noarrow:before {
  top: 0;
  right: 0;
  display: none;
  border: 0; }

.timeline li.timeline-inverted .timeline-panel {
  float: right; }

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 30px;
  left: 50%;
  text-align: center;
  background: #6a8db3;
  background: #AE9FFF;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 35px;
  margin-left: -10px;
  border: 5px solid #fff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999; }

/** timeline content **/
@media (min-width: 700px) {
  .right-lg {
    text-align: right !important; } }

.tl-heading h4 {
  margin: 0;
  color: #18181c;
  font-family: AvenirHeavy;
  font-size: 1.8rem;
  margin-bottom: 4px; }
  .timeline-current .tl-heading h4 {
    color: #fff;
    font-weight: 400 !important; }

.tl-body p,
.tl-body ul {
  margin-bottom: 0; }

.tl-body p {
  font-family: Avenir;
  font-size: 2rem;
  color: #89898c; }
  .timeline-current .tl-body p {
    color: white;
    color: rgba(255, 255, 255, 0.8); }

.tl-body > p + p {
  margin-top: 5px; }

/** media queries **/
@media (max-width: 700px) {
  .timeline li .timeline-panel {
    width: 44%; } }

@media (max-width: 700px) {
  .page-header h1 {
    font-size: 1.8em; }
  ul.timeline:before {
    left: 40px; }
  .tldate {
    width: 140px; }
  ul.timeline li .timeline-panel {
    width: calc(100% - 110px);
    width: -webkit-calc(100% - 110px); }
  ul.timeline li .tl-circ {
    top: 22px;
    left: 30px;
    margin-left: 0; }
  ul.timeline > li > .tldate {
    margin: 0; }
  ul.timeline > li > .timeline-panel {
    float: right; }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }

.timeline-future {
  opacity: 0.7; }

@media (min-width: 700px) {
  .timeline li .timeline-panel {
    width: 31%;
    margin-left: 188px; }
  .timeline li.timeline-inverted .timeline-panel {
    width: 31%;
    margin-right: 188px; } }

.timeline li.timeline-current .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border: none;
  content: " "; }

@media (min-width: 700px) {
  .timeline-panel {
    -ms-transform: skew(-10deg, 0deg);
        transform: skew(-10deg, 0deg); }
    .timeline-inverted .timeline-panel {
      -ms-transform: skew(10deg, 0deg);
          transform: skew(10deg, 0deg); }
      .timeline-inverted .timeline-panel .tl-heading,
      .timeline-inverted .timeline-panel .tl-body {
        -ms-transform: skew(-10deg, 0deg);
            transform: skew(-10deg, 0deg); }
    .timeline-panel .tl-heading,
    .timeline-panel .tl-body {
      -ms-transform: skew(10deg, 0deg);
          transform: skew(10deg, 0deg); } }

@media (max-width: 699px) {
  .timeline li .timeline-panel {
    left: -30px;
    top: -7px; }
  .tldate {
    width: 100px; }
  .timeline-panel {
    -ms-transform: skew(-7deg, 0deg);
        transform: skew(-7deg, 0deg); }
    .timeline-panel .tl-heading,
    .timeline-panel .tl-body {
      -ms-transform: skew(7deg, 0deg);
          transform: skew(7deg, 0deg); } }

@media (min-width: 700px) {
  .timeline li .timeline-panel {
    width: 37%;
    margin-left: 9%;
    min-height: 13rem;
    padding: 40px 45px; }
  .timeline li.timeline-inverted .timeline-panel {
    margin-right: 9%;
    width: 37%; } }

@media (min-width: 700px) and (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 38%;
    margin-left: 5%;
    min-height: 13rem;
    padding: 17px 20px; }
  .timeline li.timeline-inverted .timeline-panel {
    margin-right: 5%;
    width: 38%; } }

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
  background: #18181D; }

#accordion a {
  display: block;
  color: white;
  padding: 18px 15px;
  border-bottom: 1px solid #323136;
  text-decoration: none;
  font-size: 2.2rem;
  font-family: AvenirHeavy;
  line-height: 3rem; }

#accordion .panel-heading {
  padding: 0;
  border-radius: 0px; }

#accordion .panel-heading a:not(.collapsed) {
  color: white;
  transition: all 0.2s ease-in;
  border: none; }

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: "FontAwesome";
  content: "\f077";
  float: right;
  color: white;
  font-weight: lighter;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: all 0.2s ease-in; }

#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: white;
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
  transition: all 0.2s ease-in; }

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
  border-bottom: 1px solid #323136; }

ul.bar {
  margin: auto;
  width: 100%;
  list-style: none;
  padding: 0; }
  ul.bar li {
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer; }
    ul.bar li p {
      padding: 0;
      margin: 0;
      cursor: pointer;
      font-family: AvenirHeavy;
      font-size: 1.6rem; }
      @media (max-width: 991px) {
        ul.bar li p {
          font-size: 1rem; } }
    ul.bar li:hover .tool-tip {
      top: 50px;
      transition: all 0.4s cubic-bezier(1, 0, 0.4, 1.7);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
      background: #fff; }
    ul.bar li:hover:before {
      display: block;
      position: absolute;
      background: red;
      top: 0;
      left: 0;
      border-radius: 3px;
      background-color: red;
      transition: all 0.2s ease-out; }
    ul.bar li:hover:hover:before {
      width: 100%; }
    ul.bar li .tool-tip {
      position: absolute;
      top: -50px;
      left: 50%;
      border-radius: 10px;
      background-color: #333;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      line-height: 50px;
      color: rgba(24, 24, 28, 0.5);
      text-align: center;
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
      transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
      padding: 20px 11px;
      width: 360px;
      height: 130px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25); }
      ul.bar li .tool-tip span {
        color: #936DFF;
        font-weight: bold; }
      ul.bar li .tool-tip:before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -10px;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    ul.bar li:first-child {
      border-radius: 30px 0 0 30px; }
    ul.bar li:last-child {
      border-radius: 0 30px 30px 0; }
    ul.bar li.one {
      background-color: #9178FF; }
      ul.bar li.one:hover {
        background-color: #8d73ff; }
    ul.bar li.two {
      background-color: #A490FF; }
      ul.bar li.two:hover {
        background-color: #a08bff; }
    ul.bar li.three {
      background-color: #BAAEFF; }
      ul.bar li.three:hover {
        background-color: #b6a9ff; }
    ul.bar li.four {
      background-color: #CEC8FF; }
      ul.bar li.four:hover {
        background-color: #c9c3ff; }
    ul.bar li.five {
      background-color: #E6E7FF; }
      ul.bar li.five:hover {
        background-color: #e1e2ff; }

.countdown {
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(-80deg, #706DD2 50%, #8B71FF 50%);
  min-height: 250px;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 6px 10px 20px 0 rgba(24, 24, 28, 0.1); }
  @media (min-width: 992px) {
    .countdown {
      width: 480px; } }
  @media (max-width: 991px) {
    .countdown {
      margin-top: 4rem;
      padding: 4px 20px;
      margin: 4rem 1rem 0rem 1rem; } }
  .countdown h3 {
    font-size: 1.8rem;
    text-align: center;
    color: #18181c;
    font-family: AvenirHeavy; }
  .countdown h4 {
    font-size: 2.8rem;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    font-family: AvenirHeavy; }
  .countdown #countdown {
    margin-top: 8rem;
    margin-bottom: 2rem; }
    .countdown #countdown .timer-unit {
      display: inline-block;
      font-family: AvenirBlack;
      font-size: 12px;
      letter-spacing: 1.8px;
      margin: 0px 20px 20px 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      color: rgba(24, 24, 28, 0.25);
      font-size: 2rem;
      margin: 0px 8px; }
      @media (max-width: 991px) {
        .countdown #countdown .timer-unit {
          font-size: 1.6rem; } }
    .countdown #countdown .clock-num {
      display: block;
      font-family: AvenirBlack;
      font-size: 5.8rem;
      font-weight: 900;
      line-height: 1.41;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }
      @media (max-width: 991px) {
        .countdown #countdown .clock-num {
          font-size: 4rem; } }
    .countdown #countdown .timer-box {
      display: inline-block;
      position: relative;
      font-family: AvenirBlack; }
      .countdown #countdown .timer-box:before {
        font-family: AvenirBlack;
        position: absolute;
        content: ':';
        font-size: 4.8rem;
        top: 0px;
        left: -0.8rem; }
        @media (max-width: 991px) {
          .countdown #countdown .timer-box:before {
            font-size: 4rem;
            top: -0.7rem; } }
    .countdown #countdown .no-colon:before {
      content: ''; }

.padding-row-main {
  padding: 0 4rem; }
  @media (max-width: 991px) {
    .padding-row-main {
      padding: 0; } }

.padding-bottom-10 {
  padding-bottom: 10%; }

.padding-bottom-5 {
  padding-bottom: 5%; }

.padding-bottom-2 {
  padding-bottom: 2%; }

.margin-bottom-5 {
  margin-bottom: 5%; }

.margin-topbottom-none {
  margin-top: 0;
  margin-bottom: 0; }

.form-box {
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.26);
  padding: 26px 50px; }
  @media (min-width: 992px) {
    .form-box {
      width: 600px; } }
  @media (max-width: 991px) {
    .form-box {
      box-shadow: none;
      padding: 6px 41px; } }
  @media (min-width: 992px) {
    .form-box .form-text {
      width: 40%;
      display: inline-block;
      vertical-align: middle;
      padding-right: 40px; } }
  @media (max-width: 991px) {
    .form-box .form-text {
      text-align: center; } }
  .form-box .form-text h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #89898c; }
    @media (max-width: 991px) {
      .form-box .form-text h3 {
        font-size: 1.7rem; } }
  .form-box .form-text h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.36;
    color: #000000; }
    @media (max-width: 991px) {
      .form-box .form-text h4 {
        font-size: 1.6rem;
        margin-bottom: 4%; } }
  @media (min-width: 992px) {
    .form-box .form-input {
      margin-top: 0;
      width: 60%;
      vertical-align: middle;
      display: inline-block; } }

@media (min-width: 992px) {
  .contact-form.contact-hero input {
    margin-top: 0; } }

.contact-form input {
  background: none;
  height: 48px;
  font-size: 14px;
  min-width: 160px;
  font-weight: bold;
  padding: 12px 20px;
  box-shadow: 1px 1px 2px 1px rgba(57, 57, 57, 0.08);
  margin-top: 10px;
  border: transparent;
  border-radius: 30px;
  background-color: #ededed;
  background-color: rgba(24, 24, 28, 0.1); }
  .contact-form input:focus {
    box-shadow: none;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px 1px rgba(57, 57, 57, 0.08); }
  .contact-form input::-webkit-input-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1;
    color: rgba(137, 137, 140, 0.75); }
  .contact-form input:-moz-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1;
    color: rgba(137, 137, 140, 0.75); }
  .contact-form input::-moz-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1;
    color: rgba(137, 137, 140, 0.75); }
  .contact-form input:-ms-input-placeholder {
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1;
    color: rgba(137, 137, 140, 0.75); }

@media (min-width: 992px) {
  .jigsawpuzzle {
    position: absolute; } }

@media (min-width: 992px) {
  .jigsawpuzzle .countdown {
    margin-top: -180px; } }

@media (min-width: 992px) {
  .jigsawpuzzle .form-box {
    position: absolute;
    bottom: -237px;
    left: 402px; } }

.para-top {
  margin-top: -128px; }

@media (min-width: 700px) and (max-width: 991px) {
  .media-container {
    height: 45rem;
    margin-bottom: 8%; }
  .jigsawpuzzle .form-box {
    position: absolute;
    bottom: -310px;
    left: 301px; } }

@media (max-width: 991px) {
  #section-team .paragraph-small {
    font-size: 1.6rem;
    margin: 0 auto;
    width: 80%; }
  ul.bar li.four .tool-tip {
    left: -30px; }
  ul.bar li.five .tool-tip {
    left: -40px; }
  ul.bar li .tool-tip {
    width: 150px;
    min-height: 100px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25); }
    ul.bar li .tool-tip:before {
      display: none; }
  .text-center-mob {
    text-align: center; } }

@media (max-width: 768px) {
  .imgbox {
    margin-top: -60rem; }
    .imgbox .img {
      height: 67rem; }
    .imgbox .button-box {
      margin-top: -25rem; }
  #section-dashboard.skewed-bg {
    padding: 0rem 0rem; }
  #section-dashboard.filler-height {
    height: 26rem; } }
